

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: #F7F7F7;
}

a {text-decoration: none;}

h1:hover,
h2:hover,
h5:hover,
p:hover,
span:hover {cursor: default;}

.content-container {
	max-width: 1200px;
	margin: 0 auto;
}

.top {
	max-width: 100%;
	background-color: #02160b;
}

.top__container {
	max-width: 1440px;
	height: 780px;
	margin: 0 auto;
	background: url(./img/main-bg.jpg) 50% 50%/cover no-repeat;
}

.header {	
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.logo-body {
	flex: 0 1 240px;
	display: flex;
}

.logo-text {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	line-height: 60px;
	text-transform: uppercase;
	padding-left: 15px;
}

.header-nav {
	flex: 0 0 480px;
	height: 60px;
}

.header-nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.header-nav__link {
	display: block;
	font-size: 23px;
	line-height: 63px;
}

.header-nav__link:hover {
	color: #CD6326;
}

.header-nav__link:active {
color: #8F5613;
}

.header-nav__link_find {
	line-height: 32px;
	margin-top: 5px;
}

.header-nav__link_find svg:hover {
	fill: #CD6326;
}

.header-nav__link_find svg:active {
	fill: #8F5613;
}

.header-nav__link_sign {
	width: 120px;
	text-align: center;
	line-height: 46px;
	border: 2px solid #CD6326;
	border-radius: 5px;
}

.header-nav__link_sign:hover {
	color: #F7F7F7;
	background-color: #CD6326;
}

.header-nav__link_sign:active {
	border: 2px solid #8F5613;
	background-color: #8F5613;
}

.survival {
	margin-top: 120px;
}

.survival__title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 73px;
	letter-spacing: 2px;
	color: #CD6326;
	margin: 0;
}

.survival__text {
	width: 274px;
	font-size: 18px;
	line-height: 27px;
	text-align: justify;
	margin-top: 51px;
}

.survival__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
	line-height: 27px;
	background: #CD6326;
	border-radius: 5px;
	margin-top: 49px;
}

.survival__link:hover {
	background-color: #E6902A;
}

.survival__link:active {
	background-color: #8F5613;
}

.middle {
	max-width: 100%;
	height: 1368px;
	background-color: #ccc;
}

.middle__title {
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #333;
	margin: 0;
	padding-top: 120px;
}

.middle__text {
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #666;
	margin: 0;
	padding-top: 20px;
}

.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 120px;
}

.slider__left-arrow:hover {
	fill: #CD6326;
}

.slider__left-arrow:active {
	fill: #8F5613;
}

.slider__right-arrow:hover {
	fill: #CD6326;
}

.slider__right-arrow:active {
	fill: #8F5613;
}

.slider__card {
	position: relative;
	flex: 0 1 300px;
	height: 360px;
}

.slider__card_inscription {
	position: absolute;
	bottom: 40px;
}

.slider__card_img-1  {
	background-image: url(./img/content-img-1.jpg);
}

.slider__card_inscription-1 {
	width: 186px;
	left: 57px;
}

.slider__card_img-2 {
	background-image: url(./img/content-img-2.jpg);
}

.slider__card_inscription-2 {
	width: 152px;
	left: 74px;
}

.slider__card_img-3 {
	background-image: url(./img/content-img-3.jpg);
}

.slider__card_inscription-3{
	width: 125px;
	left: 88px;
}

.slider__card_title{
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	margin: 0;
}

.slider__card_text{
	font-size: 17px;
	line-height: 27px;
	margin: 0;
	padding-top: 10px;
}

.email-form {
	text-align: center;
	margin-top: 239px;
}

.email-form__label {
	font-size: 27px;
	line-height: 40px;
	color: #333;
}

.email-form__text {
	width: 540px;
	font-size: 24px;
	line-height: 56px;
	color: #666;
	background: #CCC;
	border: solid 1px #666;
	border-right: none;
	margin-top: 61px;
	padding-left: 15px;
	outline: none;
}

.email-form__submit {
	width: 120px;
	font-size: 24px;
	line-height: 58px;
	text-align: center;
	background: #CD6326;
	border: none;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	margin-top: 59px;
	margin-left: -5px;
}

.email-form__submit:hover {
	background-color: #E6902A;
}

.email-form__submit:active {
	background-color: #8F5613;
	outline: none;
}

.bottom {
	max-width: 100%;
	background-color: #181617;
}

.bottom__container {
	max-width: 1440px;
	height: 360px;
	background: url(./img/footer-bg.jpg) 50% 50%/cover no-repeat;
	margin: 0 auto;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding-top: 150px;
}

.footer-nav {
	flex: 0 1 840px;
	display: flex;
}

.footer-nav__list {
	flex: 0 1 475px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav__link {
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 60px;
}

.footer-nav__link:hover {
	color: #CD6326;
}

.footer-nav__link:active {
	color: #8F5613;
}

.footer-nav__list_ico {
	flex: 0 1 240px;
	margin-left: 125px;
	margin-top: 10px;
}

.footer-nav__list_ico-item {
	flex: 0 1 40px;
	height: 40px;
	background-color: #F7F7F7;
	border-radius: 20px;
}

.footer-nav__list_ico-item:hover {
	background-color: #CD6326;
}

.footer-nav__list_ico-item:active {
	background-color: #8F5613;
}

.footer-nav__link_ico {
	width: 40px;
	height: 40px;
	display: block;
}

.footer-nav__link_ico-fb {
	background: url(./img/fb-ico.svg) 46% 50% no-repeat;
}

.footer-nav__link_ico-insta {
	background: url(./img/instagram-ico.svg) 50% 50% no-repeat;
}

.footer-nav__link_ico-pin {
	background: url(./img/pinterest-ico.svg) 50% 50% no-repeat;
}

.footer-nav__link_ico-telegram {
	background: url(./img/telegram-ico.svg) 35% 50% no-repeat;
}